body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 20px;
}
.logo-container img{
    width: 150px;
}

.link-container ul{
    display: flex;
    gap: 1em;
    list-style-type: none;
}

.link-container ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.btn-container button{
    background-color: maroon;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 1em;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    transition: transform 1s ease-in-out;
}

.btn-container button:hover{
    background-color: rgba(128, 0, 0, 0.635);
    transform: scale(1.1);
}


.box{
    width: 500px;
    height: 500px;
    background-color: red;
    /* margin-left: 20px; */
    margin: 0 0 0 10px;
    padding-left: 20px;
}

.box:hover{
    background-color: green;
}

.child{
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
}